.album, .song {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.album img {
    max-width: 200px;
    height: auto;
}
.song {
    width: auto;
}
